body {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #e7f6ff;
}

.navbar {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  color: #000;
  position: sticky;
  top: 0;
  z-index: 1000; /* Optional: Ensure it stays on top of other elements */
  height: 40px;
  overflow: hidden;
}


.navbar .arrowdiv {
  position: absolute;
  left: 25px;
  cursor: pointer;
}

.arrowdiv {
  padding-left: 10px;
  color: #7f8c8d;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  padding-right: 10px;
  font-size: 22px;
  margin-left: -10px;
  transition: all 0.2s ease;
}

.arrowdiv:active {
  color: #ddd; /* Change background color on click */
  transform: scale(0.90); /* Slightly reduce the size */
}

.navbar .logo {
  color: #7f8c8d;
  font-size: 24px;
  cursor: pointer;
}

.navbar .logo p{
  font-weight: 600;
}
span{
  color: #6726ff;
}
.nav-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.toggle-button {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
}

.toggle-button span {
  position: absolute;
  width: 25px;
  height: 3px;
  background: #fff;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

.toggle-button span:nth-child(1) {
  top: 8px;
}

.toggle-button span:nth-child(2) {
  top: 14px;
}

.toggle-button span:nth-child(3) {
  top: 20px;
}

.toggle-button.active span:nth-child(1) {
  top: 14px;
  transform: rotate(45deg);
}

.toggle-button.active span:nth-child(2) {
  opacity: 0;
}

.toggle-button.active span:nth-child(3) {
  top: 14px;
  transform: rotate(-45deg);
}


@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    position: fixed;
    top: 61px;
    right: -100%;
    width: 200px;
    height: 100vh;
    background-color: #0d1224;
    padding-top: 30px;
    gap: 20px;
    align-items: center;
    transition: right 0.5s ease;
    z-index: 1;
  }

  .nav-links.active {
    right: 0;
  }

  .toggle-button {
    display: flex;
  }
}


/* Responsive Form Styling */
.form {
  margin-top: 10%;
  background-color: #fff;
  padding: 1rem;
  max-width: 100%;
  width: 350px;
  border-radius: 0.5rem;
  border: 1px solid #66666633;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.emoji{
  font-size: 1.8rem;
}
.input-container {
  position: relative;
  width: 100%; /* Ensure input container takes full width of the form */
}


.input-container input {
  width: 100%; /* Ensure input fields take full width of the container */
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.25rem;
  border: 1px solid #e5e7eb;
  outline: none;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-sizing: border-box; /* Prevent padding from causing overflow */
  margin: 8px 0;
  background-color: #fff;
}

.input-container input:focus {
  border-color: #626cd6;
}

.form .submit {
  display: block;
  margin: 20px 0 0 0;
  padding: 0.75rem 1.25rem;
  background-color: #4F46E5;
  color: #ffffff;
  font-size: 1.1rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.startarrow{
  font-size: 1.5rem;
  margin-left: 5px;
}

.submit:hover {
  background-color: #3730a3;
}

/* Ensure responsiveness */
@media (max-width: 400px) {
  .form {
      width: 80%;
      margin-top: 30%;
  }
}



.projects{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.container {
  display: block;
  max-width: 600px;
  color: #000;
  margin: 20px;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.18); /* Slightly transparent border */
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px); /* Blur effect */
  overflow-y: auto;
  max-height: 80vh;
}

.container h2, .container p {
  color: #ffffff; /* White color for better contrast */
}

.container input {
  width: 80%;
  height: 40px;
  border: 1px solid #DADAF2;
  border-radius: 5px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.1); /* Slightly transparent background */
  font-size: 17px;
  padding: 0px 20px;
  margin-bottom: 25px;
  color: #ffffff; /* White text color */
  transition: 0.2s ease;
}

.container input::placeholder {
  color: #DADAF2; /* Light color for placeholder text */
}

.container input:focus {
  border-color: #626cd6;
}

.question {
  font-size: 1.2em;
  text-align: left;
  margin-bottom: 30px;
  color: #000; /* White color for better contrast */
  word-wrap: break-word;
}

.options {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.options li {
  border: 1px solid #e5e7eb;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: #000; /* White text color */
}

.options li.selected {
  background: #007bff;
  color: white;
}


.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.timeoutMessage{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin-top: 40%;
  padding: 1rem;
  max-width: 100%;
  width: 300px;
  border-radius: 0.5rem;
  border: 1px solid #66666633;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}


.container2 button, .navigation-buttons button, .timeoutMessage button {
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4F46E5; /* Slightly transparent background */
}

.navigation-buttons button:disabled {
  background-color: #4e46e5ad; 
  color: #ffffffd3;
  cursor: not-allowed; 
}

.results {
  font-size: 1.2em;
  color: #000; /* White color for better contrast */
  margin-top: 20px;
}

.results p {
  margin: 10px 0;
}

.certificate-container{
  display: none;
  margin-bottom: 10px;
}

.certificate-container button {
  margin-top: 20px;
}

.certificate {
  width: 100%;
  box-sizing: border-box; /* Ensure padding doesn't affect width calculation */
}

.start-certificate {
  margin-top: 20px;
  position: relative;
  width: 370px;
  height: 208px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.start-certificate img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}


.certificatedetails {
position: relative;
width: 100%;
height: 100%;
color: #3e328f;
}

.certificate-logo{
  position: absolute;
  display: flex;
  align-items: center;
  gap: 1px;
  margin-top: -1px;
  margin-left: 55px;
}
.certificate-logo img{
  position: relative;
  height: 18px;
}
.certificate-logo p{
  font-weight: 600;
  border-bottom: 1px solid #6726ff;
  font-size: 13px;
}
.certificate-main-title{
  font-size: 11px;
  position: absolute;
  font-weight: 500;
  text-align: left;
  margin-top: 40px;
  margin-left: 58px;
}
.certificate-sub-title {
position: absolute;
top: 82px; 
left: 3px; 
transform: translateX(-60px);
font-weight: 500;
width: 100%;
font-size: 8.5px; 
}
.frontend-project{
  color: #007bff;
}
.certificate-name {
position: absolute;
top: 89px;
left: 50%;
transform: translateX(-66%);
width: 100%;
font-size: 17px;
font-weight: 500;
}

.certificate-description {
position: absolute;
top: 122px;
font-weight: 500;
left: 50%;
transform: translateX(-61%);
width: 100%;
font-size: 8px;
}

.issue-date {
position: absolute;
bottom: 22px;
display: grid;
align-items: center;
text-align: center;
justify-content: center;
height: 20px;
right: 20px; 
font-size: 6px;
}

.issue-date-flex{
  display: flex;
  gap: 2px;
}

.certificate-instructor{
position: absolute;
bottom: 7px;
left: 59px; 
font-size: 7.5px;
}
.certificate-instructor-sign{
position: absolute;
font-family: "Style Script", cursive;
font-weight: 400;
bottom: 14px;
left: 63px; 
font-size: 11px;
}

.certificate-issue-paragraph{
position: absolute;
bottom: 33px;
right: 80px; 
font-size: 7px;
}
/* Add more styles for additional paragraphs/headings */

.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  margin-top: 30px;
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  border: 1px solid #66666633;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  backdrop-filter: blur(10px); /* Blur effect */
  overflow-y: auto;
  max-height: 80vh;
}



.left-shape {
  height: 100%;
  width: 20px;
  background-color: #626cd6; /* Colored background */
  position: relative;
}

.left-shape .line {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: white; /* White line */
  transform: translateX(-50%);
}

.certificate .logo h2 {
  color: white;
  margin: 0;
}

.certificate .logo h2 span {
  color: aqua;
}

.certificate-info {
  margin-top: 10px;
  padding: 10px;
  padding-bottom: 30px;
  background: rgba(255, 255, 255, 0.1); /* Light white with transparency */
  border: 2px solid rgba(255, 255, 255, 0.18); /* Slightly transparent border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px); /* Blur effect */
  border-radius: 5px;
}


.watermark {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  color: #666;
  margin-bottom: -20px;
  text-align: center;
}
.watermark .content{
  display: grid;
  justify-content: right;
  margin-top: 30px;
  font-size: 0.8em;
  color: #666;
  text-align: center;
}
.watermark .content2{
  display: grid;
  justify-content: left;
  margin-top: 30px;
  font-size: 0.8em;
  color: #666;
  text-align: center;
}

.start-container {
  margin-bottom: 20px;
}


@media (max-width: 600px) {
  .container {
      width: 100%;
      padding: 15px;
  }

  .navigation-buttons button {
      margin-bottom: 10px;
  }

  .results, .certificate-container {
      margin-top: 10px;
  }
}

.question-info {
  font-size: 1em;
  text-align: left;
  margin-bottom: 10px;
  color: #4e4e4e86;
}

a{
  text-decoration: none;
  color: white;
}

footer {
  color: #7f8c8d;
  text-align: center;
  padding: 15px;
  margin-top: auto; /* Yeh ensure karega ki footer last me rahe */
  background-color: #e7f6ff; /* Footer ka background set kare */
  width: 100%; /* Footer ko full width dena */
  font-size: 12px;
  display: grid;
  gap: 10px;
  box-sizing: border-box;
}

footer p{
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.socialLinks a{
  color: #7f8c8d;
  text-decoration: none;
  padding: 10px;
  font-weight: 300;
}

.socialLinks a:hover{
  color: #26ffe3;
}
