*{
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #0d1224;
}

html{
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #4e4e4e;
  background-color: #0d1224;
  padding: 10px 30px;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 40px;
  overflow: hidden;
}

.navbar .logo {
  color: white;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: bold;
}

.navbar .logo p{
  font-weight: 500;
}

.navbar .logo img{
  height: 30px;
}
span{
  color: #26ffe3;
}
.nav-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-links li {
  display: grid;
  width: 100%;
}

.nav-links i{
  color: #26ffe3;
  text-align: start;
  position: absolute;
  left: 0;
  rotate: 180deg;
  font-size: 60px;
  width: 7px;
  display: block;
  overflow: hidden;
}

.nav-links a {
  border-top: 1px solid #4e4e4e;
  padding: 22px;
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 10px;
  margin: 0;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  transition: color 0.3s;
}

.nav-links .img {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-links .img p{
  margin: 0;
  background-color: #12173a;
  border: 1px solid #4e4e4e;
  border-radius: 30px;
  padding: 6px 20px;
}

.a6 {
  border-bottom: 1px solid #4e4e4e;
}

.toggle-button {
  display: none;
  flex-direction: column;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
}

.toggle-button span {
  position: absolute;
  width: 25px;
  height: 3px;
  background: #fff;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

.toggle-button span:nth-child(1) {
  top: 8px;
}

.toggle-button span:nth-child(2) {
  top: 14px;
}

.toggle-button span:nth-child(3) {
  top: 20px;
}

.toggle-button.active span:nth-child(1) {
  top: 14px;
  transform: rotate(45deg);
}

.toggle-button.active span:nth-child(2) {
  opacity: 0;
}

.toggle-button.active span:nth-child(3) {
  top: 14px;
  transform: rotate(-45deg);
}

#navigator, #navigator1, #navigator2, #navigator3, #navigator4, #navigator5 {
  display: none;
}


@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    position: fixed;
    top: 60px;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: #0d1224;
    align-items: center;
    transition: right 0.5s ease;
    z-index: 1;
  }

  .nav-links.active {
    right: 0;
  }
  
  .nav-links li {
    text-align: center;
  }

  .toggle-button {
    display: flex;
  }
}


.content {
  text-align: center;
}

.page {
  display: none;
  color: white;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.page.active {
  display: block;
  opacity: 1;
}

.allProjects{
  padding-top: 20px;
  text-align: center;
  color: #fff;
}

.allProjects h3{
  font-weight: 500;
}

.project-buttons{
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}

hr{
  width: 100%;
  margin-top: 10px;
  border: 0.7px solid #4e4e4e;
}

.project-buttons1{
  display: grid;
  gap: 20px;
}

.project-buttons1 button{
  padding: 12px 35px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d1224;
  border: none;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  border: 2px solid #4e4e4e;
  -webkit-tap-highlight-color: transparent;
}

.project-buttons1 button.selected {
  border: 2px solid #26ffe3;
  color: #fff;
}


.project-buttons1 button i{
  font-size: 20px;
  margin: 0;
  margin-right: 10px;
  text-align: center;
}

.fa-node-js{
  color: rgb(28, 215, 28);
}
.fa-react{
  color: #26ffe3;
}
.fa-html5{
  color: orange;
}
.fa-js{
  color: yellow;
}

.full-stack, .react, .html-css, .javascript {
  display: none; /* Hide all sections by default */
  color: #fff;
  margin-bottom: 0;
  padding: 20px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.full-stack h1, .react h1, .html-css h1, .javascript h1{
  font-weight: 600;
  margin-top: -20px;
  margin-bottom: 10px;

  font-size: 20px;
  padding-bottom: 10px;
}
.fade-up {
  opacity: 1;
  transform: translateY(1);
}

.full-stack.selected, .react.selected, .html-css.selected, .javascript.selected {
  display: block;
}

.login-page a img{
  width: 100%;
  margin-bottom: 10px;
  height: 100%;
  border: 2px solid #4e4e4e;
  transition: 0.4s;
}

.login-page a:last-child img {
  margin-bottom: 30px;
}


.login-page a img:hover{
  border-color: #26ffe3;
}

footer {
  color: #d1d5db;
  text-align: center;
  padding: 15px;
  margin-top: auto; /* Yeh ensure karega ki footer last me rahe */
  background-color: #0d1224; /* Footer ka background set kare */
  width: 100%; /* Footer ko full width dena */
  font-size: 12px;
  display: grid;
  gap: 10px;
  box-sizing: border-box;
  border-top: 1px solid #4e4e4e;
}

footer p{
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.socialLinks a{
  color: #d1d5db;
  text-decoration: none;
  padding: 10px;
  font-weight: 300;
}

.socialLinks a:hover{
  color: #26ffe3;
}



/* Loader styles */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0d1224;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* Ensure it stays on top */
}

#loader-wrapper p{
  color: #8f44fd;
  margin-left: 8px;
  margin-top: 20px;
}

#loader {
  animation: rotate 2s infinite;
  height: 50px;
  width: 50px;
}

#loader:before,
#loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
#loader:before {
  animation: ball1 2s infinite;
  background-color: rgb(255 255 255 / 16%);
  box-shadow: 30px 0 0 #8f44fd;
  margin-bottom: 10px;
}
#loader:after {
  animation: ball2 2s infinite;
  background-color: #8f44fd;
  box-shadow: 30px 0 0 rgb(255 255 255 / 16%);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(360deg) scale(1.2);
  }
  100% {
    transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #8f44fd;
  }
  50% {
    box-shadow: 0 0 0 #8f44fd;
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #8f44fd;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 rgb(255 255 255 / 32%);
  }
  50% {
    box-shadow: 0 0 0 rgb(255 255 255 / 32%);
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 rgb(255 255 255 / 32%);
    margin-top: 0;
  }
}


/* -------------------source code pages-------------------- */


.full-stack, .react, .html-css2, .javascript {
  display: block; /* Hide all sections by default */
  color: #fff;
  margin: 20px;
}
.comingsoon{
  padding: 10px;
  color: #0d1224;
  font-weight: bold;
  background-color: #26ffe3;
  font-size: 20px;
}

.working{
  padding: 20px;
}

.working h2{
  font-weight: 600;
}
.working p{
  padding: 20px;
  font-weight: 400;
}


/* Ensure the selected section is shown */
.full-stack.selected, .react.selected, .html-css2.selected, .javascript.selected {
  display: block;
}

.html-css2 h1{
  padding-bottom: 20px;
  margin: 0;
}

.login-page p img{
  width: 100%;
  margin-bottom: 10px;
  height: 100%;
  border: 2px solid #4e4e4e;
  transition: 0.4s;
}

.login-page p img:hover{
  border-color: #26ffe3;
}

.project-section{
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.source-code{
  display: flex;
  justify-content: center;
}


.copybtn{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copybtn p{
  font-weight: 400;
}

.source-code p{
  display: flex;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
  gap: 10px;
  padding: 12px 20px;
  border: 2px solid #4e4e4e;
  border-radius: 30px;
  margin: 0;
  cursor: pointer;
  align-items: center;
  transition: 0.4s;
}

.source-code p:hover{
  border-color: #26ffe3;
}

.source-code p img{
  height: 18px;
}


/* -------------------get certificate pages-------------------- */

.projects {
  display: grid;
  text-align: center;
  margin-top: 10px;
  width: 100%;
}


.quiz-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.quiz-item {
  background-color: #1e2a48;
  border-radius: 10px;
  padding: 30px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.quiz-item h3 {
  margin: 0;
  font-size: 1.5em;
  color: #26ffe3;
}

.quiz-item button {
  background-color: #26ffe3;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  color: #0d1224;
  font-size: 1em;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.3s, transform 0.2s;
}


.explore{
  margin: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #12172a;
  align-items: center;
  height: 54vh;
  width: 366px;
  justify-content: right;
  text-align: right;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.explorebtn{
  display: flex;
  flex-wrap: wrap;
  padding: 1.7rem;
  text-align: left;
  gap: 20px;
  font-size: 20px;
}

.explorebtn p{
  line-height: 25px;
  font-size: 22px;
}

.explorebtn button{
  display: flex;
  align-items: center;
  gap: 5px;
  color: #3c3c3c;
  text-align: center;
  border: none;
  margin-top: 10px;
  border: 2px solid #4e4e4e;
  padding: 8px 20px;
  border-radius: 30px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.3s;
  background-color: #f4f4f4;
}

.explorebtn span2{
  display: inline-block;
  font-size: 20px;
  transition: transform 0.3s;
}

.explorebtn button:hover span2 {
  transform: rotate(90deg);
}

.explore img{
  position: absolute;
  bottom: 0;
  margin-top: 20px;
  border-radius: 5px;
  width: 350px;
  margin: 6px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}