*{
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--body-color);
  overflow-x: hidden;
}

:root{
  --body-color: #0d1224;
  --nav-color: #3498db;
  --half-logo-color: #26ffe3;
  --heading-color: #067ff8;
  --projects-heading-color: #3700feb6;
  --border-color: #373F62;
  --text-color: #DADAF2;
  --text-color-light: #7f8c8d;
  --text-color-white: #fff;
  --click-bg-color: #ffffff05;
}

html{
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--body-color);
  padding: 10px 30px;
  color: var(--text-color-white);
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 40px;
  overflow: hidden;
}

.navbar .logo {
  color: var(--text-color-white);
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: bold;
}

.navbar .logo p{
  font-weight: 500;
}

.navbar .logo img{
  height: 27px;
}
span{
  color: var(--half-logo-color);
}
.nav-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-links li {
  display: grid;
  width: 100%;
}

.nav-links i{
  color: var(--half-logo-color);
  text-align: start;
  position: absolute;
  left: 0;
  rotate: 180deg;
  font-size: 60px;
  width: 7px;
  display: block;
  overflow: hidden;
}

.nav-links a {
  border-top: 1px solid var(--border-color);
  padding: 22px;
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 10px;
  margin: 0;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  transition: color 0.3s;
}

.nav-links .img {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-links .img p{
  margin: 0;
  background-color: var(--body-color);
  border: 1px solid var(--border-color);
  border-radius: 30px;
  padding: 6px 20px;
}

.a6 {
  border-bottom: 1px solid var(--border-color);
}

.toggle-button {
  display: none;
  flex-direction: column;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
}

.toggle-button span {
  position: absolute;
  width: 25px;
  height: 3px;
  background: var(--text-color-white);
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

/* Default state (cross icon) */
.toggle-button span:nth-child(1) {
  top: 14px;
  transform: rotate(45deg); /* Top bar is rotated to form one part of the cross */
}

.toggle-button span:nth-child(2) {
  top: 14px;
  opacity: 0; /* Middle bar is hidden */
}

.toggle-button span:nth-child(3) {
  top: 14px;
  transform: rotate(-45deg); /* Bottom bar is rotated to form the other part of the cross */
}

/* Active state (hamburger icon) */
.toggle-button.active span:nth-child(1) {
  top: 8px;
  transform: rotate(0deg); /* Top bar returns to original position */
}

.toggle-button.active span:nth-child(2) {
  top: 14px;
  opacity: 1; /* Middle bar becomes visible */
}

.toggle-button.active span:nth-child(3) {
  top: 20px;
  transform: rotate(0deg); /* Bottom bar returns to original position */
}




@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    position: fixed;
    top: 60px;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--body-color);
    align-items: center;
    transition: right 0.5s ease;
    z-index: 1;
  }

  .nav-links.active {
    right: -100%;
  }
  
  .nav-links li {
    text-align: center;
  }

  .toggle-button {
    display: flex;
  }
  /* -------------------get certificate pages-------------------- */

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  width: 100%;
}


.quiz-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  margin: 10px;
  justify-content: center;
  gap: 20px 10px;
  padding: 10px;
  margin-bottom: 30px;
}

/* .quiz-item {
  background-color: #1e2a48;
  border-radius: 10px;
  padding: 30px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
} */

.quiz-item h3 {
  margin: 0;
  font-size: 1.5em;
  color: var(--half-logo-color);
}

.quiz-item button {
  padding: 10px 15px;
  outline: none;
  display: flex;
  text-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #0d1224;
  border: none;
  border-radius: 30px;
  color: var(--text-color-white);
  cursor: pointer;
  border: 1.5px solid var(--border-color);
  -webkit-tap-highlight-color: transparent;
  transition: 0.3s;
}
.quiz-item button i{
  color: var(--half-logo-color);
  padding-right: 5px;
}

.explore{
  margin: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #878bff08;
  align-items: center;
  height: auto;
  width: 366px;
  justify-content: right;
  text-align: right;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.explore .explore-img{
  display: flex;
}
.explore .explore-img img{
  margin: 0;
  width: 100%;
}

.explorebtn{
  display: flex;
  flex-wrap: wrap;
  padding: 1.7rem;
  text-align: left;
  gap: 20px;
  font-size: 20px;
}

.explorebtn p{
  line-height: 25px;
  font-size: 22px;
}

.explorebtn button{
  display: flex;
  align-items: center;
  gap: 5px;
  color: #3c3c3c;
  text-align: center;
  border: none;
  margin-top: 10px;
  border: 2px solid var(--border-color);
  padding: 5px 20px;
  border-radius: 30px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.3s;
  background-color: #f4f4f4;
}

.explorebtn span2{
  display: inline-block;
  font-size: 20px;
  padding-bottom: 4px;
  transition: transform 0.3s;
}

.explorebtn button:hover span2 {
  transform: rotate(90deg);
}



}


/* New styles for larger screens (laptops and above) */
@media (min-width: 769px) {
  .navbar {
    width: 96%;
    height: 50px;
    position: fixed; /* Ensures it is positioned relative to its normal flow */
  }
  .navmsg{
    display: flex !important;
    padding-right: 20px;
  }
  .nav-links {
    position: fixed;
    top: 70px;
    left: 0;
    height: 100%;
    width: 18%;
    background-color: var(--body-color);
    border-right: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
  .nav-links .a1{
    border-top: 1px solid var(--border-color);
  }
  .nav-links li {
    text-align: left;
  }
  .nav-links a{
    border: none;
    font-size: 13px;
  }
  .nav-links li:nth-child(1) a img {
    height: 15px;
  }  
  .nav-links li:nth-child(2) a img {
    height: 20px;
  }  
  .nav-links li:nth-child(3) a img {
    height: 15px;
  }   
  .nav-links li:nth-child(4) a img,
  .nav-links li:nth-child(5) a img,
  .nav-links li:nth-child(6) a img {
    height: 16px;
  }  
  .nav-arrow{
    display: none;
  }
  .nav-links i{
    color: var(--half-logo-color);
    text-align: start;
    position: absolute;
    left: 0;
    rotate: 180deg;
    font-size: 55px;
    width: 5px;
    display: block;
    overflow: hidden;
  }
  .avilable{
    display: none;
  }
  .a1 {
    position: relative;
    border: none !important;
    margin-top: 15px !important;
  }
  
  .a1::before {
    content: "";
    position: absolute;
    top: -15px; /* Shift the border 10px up */
    left: 0;
    right: 0;
    border-top: 1px solid var(--border-color);
  }
  
  ul{
    gap: 17px 0 !important;
  }

  .nav-links a {
    padding: 15px;
  }
  
  .content {
    margin-left: 18%;
    margin-top: 60px;
    width: 82%;
    transition: margin-left 0.5s ease;
  }

  .allProjects{
    display: none;
  }

  .project-buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr) !important;
    gap: 30px !important;
    padding: 50px 70px !important;
  }
  .project-buttons button{
    font-family: "Outfit", sans-serif;
    padding: 12px 40px !important;
    
  }
  .login-page{
    display: grid;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    grid-template-columns: repeat(3, 1fr); /* Creates 3 equal columns */
    gap: 20px; /* Space between grid items */
  }
  .login-page a img{
    width: 100%;
    height: auto !important;
    box-sizing: border-box;
    border: 2px solid var(--border-color);
    transition: 0.4s;
  }

  .main-container{
    display: grid;
    padding: 20px 90px !important;
    padding-bottom: 80px !important;
  }
  .search-item{
    width: 60% !important;
  }
  .search-box{
    padding-bottom: 60px !important;
  }
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    padding-bottom: 80px;
    width: 90%;
  }
  .explore{
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 40px 0px 0px 20px;
    background-color: #878bff08;
    margin: 20px 80px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    grid-template-columns: repeat(2, 1fr); /* Creates 3 equal columns */
    gap: 20px; /* Space between grid items */
  }

  .explore .explore-img{
    display: flex;
  }
  .explore .explore-img img{
    margin: 0;
    width: 100%;
  }
  
  .explorebtn{
    padding: 1.7rem;
    text-align: left;
    gap: 20px;
    font-size: 20px;
  }
  
  .explorebtn p{
    line-height: 25px;
    font-size: 22px;
    margin-bottom: 40px;
  }
  
  .explorebtn button{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #3c3c3c;
    text-align: center;
    border: none;
    margin-top: 10px;
    border: 2px solid var(--border-color);
    padding: 5px 20px;
    border-radius: 30px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.3s;
    background-color: #f4f4f4;
  }
  
  .explorebtn span2{
    display: inline-block;
    padding-bottom: 3px;
    font-size: 20px;
    transition: transform 0.3s;
  }
  
  .explorebtn button:hover span2 {
    transform: rotate(90deg);
  }
  

  .quiz-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px 20px;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  
  
  .quiz-item h3 {
    display: none;
  }
  
  .quiz-item button {
    padding: 10px 30px;
    outline: none;
    gap: 10px;
    display: flex;
    text-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color: #0d1224;
    border: none;
    border-radius: 30px;
    color: var(--text-color-white);
    cursor: pointer;
    border: 2px solid var(--border-color);
    -webkit-tap-highlight-color: transparent;
    transition: 0.3s;
  }
  
  .quiz-item button:hover{
    border-color: var(--half-logo-color);
  }

  .quiz-item button i{
    color: var(--half-logo-color);
  }

  .project-image img {
    max-width: 100px !important; /* Adjust the size of the image */
    height: auto;
    cursor: pointer;
  }
  
  .project-title {
    font-size: 16px !important;
  }
  
  .code-buy-now-btn p {
    font-size: 13px !important;
  }
  footer{
    width: 82% !important;
    display: flex !important;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-left: 18% !important;
  }
}
.navmsg{
  display: none;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.navmsg p {
  color: var(--text-color);
  animation: fadeUpDown 2s ease-in-out infinite;
}

@keyframes fadeUpDown {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}


.navmsg button {
  all: unset;
  padding: 7px 16px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d1224;
  border: none;
  border-radius: 30px;
  color: var(--text-color-white);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: 0.2s;
  animation: backgroundFlow 5s linear infinite; /* Adding animation */
}

@keyframes backgroundFlow {
  0% {
    background-color: rgb(200, 0, 255); /* Initial color */
  }
  12.5% {
    background-color: rgb(52, 152, 219); /* First transition color */
  }
  25% {
    background-color: rgb(26, 255, 227); /* Second transition color */
  }
  37.5% {
    background-color: rgb(83, 9, 255); /* Third transition color */
  }
  50% {
    background-color: rgb(241, 196, 15); /* Fourth transition color */
  }
  62.5% {
    background-color: rgb(231, 76, 60); /* Fifth transition color */
  }
  75% {
    background-color: rgb(46, 204, 113); /* Sixth transition color */
  }
  87.5% {
    background-color: rgb(155, 89, 182); /* Seventh transition color */
  }
  100% {
    background-color: rgb(200, 0, 255); /* Loop back to initial color */
  }
}

.content {
  text-align: center;
}

.page {
  display: none;
  color: var(--text-color-white);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.page.active {
  display: block;
  opacity: 1;
  animation: fadefast 0.5s ease-in-out forwards;
}
@keyframes fadefast {
  0% {
    opacity: 0;
    transform: translateY(-20px); /* Slightly above the starting position */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End at the normal position */
  }
}


.allProjects{
  padding-top: 20px;
  text-align: center;
  color: var(--text-color-white);
}

.allProjects h3{
  font-weight: 500;
}

.project-buttons{
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}

hr{
  width: 100%;
  margin-top: 10px;
  border: 0.7px solid var(--border-color);
}

.project-buttons{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.project-buttons button{
  padding: 10px 20px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--body-color);
  border: none;
  border-radius: 30px;
  color: var(--text-color-white);
  cursor: pointer;
  border: 2px solid var(--border-color);
  -webkit-tap-highlight-color: transparent;
  transition: 0.2s;
}

.project-buttons button.selected {
  border-color: var(--half-logo-color);
  color: var(--text-color-white);
}


.project-buttons button img{
  height: 18px;
  margin: 0;
  margin-right: 6px;
  text-align: center;
}

.fa-node-js{
  color: rgb(28, 215, 28);
}
.fa-react{
  color: #26ffe3;
}
.fa-html5{
  color: orange;
}
.fa-js{
  color: yellow;
}

.full-stack, .react, .html-css, .javascript {
  display: none; /* Hide all sections by default */
  color: var(--text-color-white);
  margin-bottom: 0;
  padding: 20px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.html-css h1{
  font-weight: 500;
  margin-top: -20px;
  margin-bottom: 10px;
  font-size: 20px;
  padding-bottom: 10px;
}
.javascript h1, .full-stack h1, .react h1{
  font-weight: 500;
  margin-top: -40px;
  margin-bottom: 10px;
  font-size: 20px;
  padding-bottom: 10px;
}
.fade-up {
  opacity: 1;
  transform: translateY(1);
}

.full-stack.selected, .react.selected, .html-css.selected, .javascript.selected {
  display: block;
}

.login-page a{
  -webkit-tap-highlight-color: transparent;
}

/* .login-page a img:active{
  transform: scale(0.95);
  transition: transform 0s;
} */

.login-page a img{
  width: 100%;
  margin-bottom: 10px;
  height: 100%;
  border: 2px solid var(--body-color);
  transition: 0.4s;
}

.login-page a:last-child img {
  margin-bottom: 30px;
}


.login-page a img:hover{
  border-color: var(--half-logo-color);
}

footer {
  color: var(--text-color-light);
  text-align: center;
  padding: 15px;
  margin-top: auto; /* Yeh ensure karega ki footer last me rahe */
  background-color: #0d1224; /* Footer ka background set kare */
  width: 100%; /* Footer ko full width dena */
  font-size: 12px;
  display: grid;
  gap: 10px;
  box-sizing: border-box;
  border-top: 1px solid var(--border-color);
}

footer p{
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.socialLinks a{
  color: var(--text-color-light);
  text-decoration: none;
  padding: 10px;
  font-weight: 300;
  transition: 0.3s;
}

.socialLinks a:hover{
  color: var(--half-logo-color);
}


#navigator, #navigator1, #navigator2, #navigator3, #navigator4, #navigator5 {
  display: none;
}

/* Scrollbar styles for webkit browsers (Chrome, Safari, Edge) */

body::-webkit-scrollbar-track {
  background: linear-gradient(45deg, #3b3b3b, #1e1e1e); /* Track background gradient */
  border-radius: 10px; /* Rounded corners for the track */
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); /* Inner shadow for the track */
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #ff6a00, #ee0979); /* Thumb background gradient */
  border-radius: 10px; /* Rounded corners for the thumb */
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.7); /* Shadow for the thumb */
}

body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #ff6a00, #ff4e50); /* Hover effect for the thumb */
}

body::-webkit-scrollbar-thumb:active {
  background: linear-gradient(45deg, #ff4e50, #f9d423); /* Active effect for the thumb */
}

body::-webkit-scrollbar-button:single-button:vertical:decrement {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8"><path fill="white" d="M4 0l4 4h-8l4-4z"/></svg>') no-repeat center center;
  background-size: 10px; /* Up arrow */
}

body::-webkit-scrollbar-button:single-button:vertical:increment {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8"><path fill="white" d="M4 8l4-4h-8l4 4z"/></svg>') no-repeat center center;
  background-size: 10px; /* Down arrow */
}

/* Adjust the width of the scrollbar thumb and track to maintain a Chrome-like appearance */
body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 6px;
}

body::-webkit-scrollbar-track {
  border-radius: 6px;
}



/* Loader styles */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--body-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* Ensure it stays on top */
}

#loader-wrapper p{
  color: #8f44fd;
  margin-left: 8px;
  margin-top: 20px;
}

#loader {
  animation: rotate 2s infinite;
  height: 50px;
  width: 50px;
}

#loader:before,
#loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
#loader:before {
  animation: ball1 2s infinite;
  background-color: rgb(255 255 255 / 16%);
  box-shadow: 30px 0 0 #8f44fd;
  margin-bottom: 10px;
}
#loader:after {
  animation: ball2 2s infinite;
  background-color: #8f44fd;
  box-shadow: 30px 0 0 rgb(255 255 255 / 16%);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(360deg) scale(1.2);
  }
  100% {
    transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #8f44fd;
  }
  50% {
    box-shadow: 0 0 0 #8f44fd;
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #8f44fd;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 rgb(255 255 255 / 32%);
  }
  50% {
    box-shadow: 0 0 0 rgb(255 255 255 / 32%);
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 rgb(255 255 255 / 32%);
    margin-top: 0;
  }
}


/* -------------------source code pages-------------------- */


.full-stack, .react, .html-css2, .javascript {
  display: block; /* Hide all sections by default */
  color: var(--text-color-white);
  margin: 20px;
}


/* Ensure the selected section is shown */
.full-stack.selected, .react.selected, .html-css2.selected, .javascript.selected {
  display: block;
}

.html-css2 h1{
  padding-bottom: 20px;
  margin: 0;
}

.login-page p img{
  width: 100%;
  margin-bottom: 10px;
  height: 100%;
  border: 2px solid var(--border-color);
  transition: 0.4s;
}

.login-page p img:hover{
  border-color: var(--half-logo-color);
}

.project-section{
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.source-code{
  display: flex;
  justify-content: center;
}


.copybtn{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copybtn p{
  font-weight: 400;
}

.source-code p{
  display: flex;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
  gap: 10px;
  padding: 12px 20px;
  border: 2px solid var(--border-color);
  border-radius: 30px;
  margin: 0;
  cursor: pointer;
  align-items: center;
  transition: 0.4s;
}

.source-code p:hover{
  border-color: var(--half-logo-color);
}

.source-code p img{
  height: 18px;
}





/* ---------------------source code section---------------- */

.main-container{
  display: grid;
  padding: 10px;
  padding-bottom: 50px;
}

.container:hover{
  background-color: var(--click-bg-color);
}
.search-box{
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-item{
  display: flex;
  justify-content: center;
  background-color: var(--body-color);
  width: 100%;
  border-radius: 50px;
  height: 40px;
  border: 1px solid var(--border-color);
  padding: 0 15px;
  transition: 0.2s ease;
}

.search-icon{
  border-right: 1px solid var(--border-color);
  padding-right: 10px;
}

.cross-icon{
  cursor: pointer;
}
.search-icon, .cross-icon{
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 17px;
  color: var(--text-color); 
  transition: 0.2s ease;
}
.search-box input {
  width: 80%;
  height: 40px;
  border: none;
  outline: none;
  background-color: transparent; /* Slightly transparent background */
  font-size: 15px;
  padding: 0px 20px;
  margin-bottom: 25px;
  color: var(--text-color-white); 
  transition: 0.2s ease;
}

.search-box input::placeholder {
  font-family: "Outfit", sans-serif;
  color: var(--text-color); /* Light color for placeholder text */
}

.search-box input:focus {
  border-color: #626cd6;
}
.search-box:focus-within .search-item,.search-box:focus-within .search-icon {
  border-color: #626cd6;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 150px; /* Set the height as per your requirement */
  padding: 5px;
  color: var(--text-color-white);
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--border-color);
  height: auto;
}

.code-buy-now-btn p:active {
  background-color: var(--click-bg-color);
}

.project-image img {
  max-width: 90px; /* Adjust the size of the image */
  height: auto;
  cursor: pointer;
}

.project-title {
  flex-grow: 1;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  margin-left: 20px; /* Space between image and title */
}

.code-buy-now-btn {
  text-align: center;
  margin-left: 5px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.code-buy-now-btn p {
  text-wrap: nowrap;
  
  margin: 0;
  font-size: 11px;
  background-color: var(--body-color);
  border: 1px solid var(--border-color);
  border-radius: 30px;
  padding: 10px 20px;
}

.working{
  width: 70%;
  padding: 30px;
}

/* --------------Cources---------------- */



.cource-main-container {
  animation: fadefast 0.5s ease-in-out;
  flex: 1;
  margin-top: 3.5rem;
  margin-left: 6%;
  margin-right: 6%;
  margin-bottom: 5rem;
}

@keyframes fadefast {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-title {
  width: 100%;
  text-align: left;
}

.main-title p {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  background-color: #262B42;
  border: 1px solid var(--border-color);
  display: inline-block;
  border-radius: 9999px;
  font-size: 0.875rem;
}

.cource-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.75rem;
  padding-top: 0.5rem;
}

.cource-details button {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  background-color: #262B42;
  color: var(--text-color-white);
  border: 1px solid var(--border-color);
  border-radius: 9999px;
}

.cource-details a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color-white);
  gap: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  border: 1px solid var(--border-color);
  border-radius: 9999px;
  transition: all 0.3s ease;
}

.cource-details a:hover {
  transform: scale(1.05);
}

.cource-title {
  padding-right: 0.75rem;
  padding-bottom: 0.8rem;
}

.cource-paragraph {
  color: #D9EBFF;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
  width: 90%;
  line-height: 1.25rem;
}

.all-cource-container {
  display: grid;
  gap: 1.25rem;
  margin-top: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.cource-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
}

.cource-container:hover{
  transform: scale(1.02);
}
.cource-elements {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.cource-img img {
  width: 100%;
  opacity: 80%;
  height: auto;
}

@media (max-width: 640px) {
  .cource-main-container {
    margin-left: 6vw;
    margin-right: 6vw;
  }

  .main-title {
    text-align: left;
  }

  .main-title p {
    padding-right: 4rem;
  }

  .all-cource-container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 768px) {
  .all-cource-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .all-cource-container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1024px) {
  .all-cource-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1280px) {
  .all-cource-container {
    grid-template-columns: repeat(4, 1fr);
  }
}




/* --------------stock image---------- */

.stock-main {
  animation: fadefast 0.5s ease-out;
  flex: 1 1 0%;
  margin-top: 3.5rem;
  margin-left: 6%;
  margin-right: 6%;
}

@media (min-width: 640px) {
  .stock-main {
    margin-left: 6vw;
    margin-right: 6vw;
  }
}

.stock-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: left;
}
.stock-image-links {
  margin-top: 1.25rem;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  flex-wrap: wrap;
}
.stock-image-links a {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  border: 1px solid #373F62;
  padding-left: 2.2rem;
  padding-right: 2.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.25rem;
  flex-shrink: 0;
  color: var(--text-color-white);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  background-color: #12172A;
}

.stock-image-links a:hover {
  background-color: rgba(32, 46, 100, 0.5);
  transform: scale(1.05);
}
.stock-image-links a img {
  width: 1rem; /* 4px */
}
.stock-image-links a p {
  font-size: 15px;
}

.stock-icon-title{
  padding-top: 3.5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: left;
}

.stock-soon{
  margin-top: 5.5rem;
  padding-top: 3.5rem;
  padding-bottom: 7.5rem;
}
.stock-soon h1 {
  background: linear-gradient(to right, #24B0FF, #B415FF);
  background-clip: text;
  color: transparent;
  font-weight: 600;
}
