body {
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #e7f6ff;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7f6ff;
    padding: 10px 30px;
    color: #000;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 40px;
    overflow: hidden;
  }
  
  .navbar .arrowdiv {
    position: absolute;
    left: 25px;
    cursor: pointer;
  }
  
  .arrowdiv {
    padding-left: 10px;
    color: #7f8c8d;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    padding-right: 10px;
    font-size: 22px;
    margin-left: -10px;
    transition: all 0.2s ease;
  }
  
  .arrowdiv:active {
    color: #ddd;
    transform: scale(0.90);
  }
  
  .navbar .logo {
    color: #7f8c8d;
    font-size: 24px;
    cursor: pointer;
  }
  
  .navbar .logo p {
    font-weight: 600;
  }
  
  span {
    color: #6726ff;
  }
  
  .container {
    margin: 10px;
    padding-bottom: 20px;
    padding: 10px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    max-width: 100%;
  }
  
  .container .title {
    display: grid;
    padding: 20px;
    background-color: #0d1224;
    width: 90%;
    border-radius: 10px;
  }
  
  .container .title h1 {
    font-weight: 500;
    margin: 0;
    font-size: 25px;
    padding: 0;
    color: #067ff8;
  }
  
  .container h2 {
    font-weight: 500;
    color: #34495e;
  }
  
  #score {
    padding: 0;
    margin: 0px;
  }
  
  .container p {
    font-weight: 400;
    color: #7f8c8d;
  }
  
  .section-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
}


  .section {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    border: 1px solid #0d1224;
    width: 300px;
    background-color: #fff;
  }
  
  .btn{
    display: grid;
    align-items: center;
  }

  .btn > div{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .question-details {
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    background-color: #fff;
    border: 1px solid #0d1224;
    padding-right: 20px;
  }
  
  .section h2 {
    margin: 5px;
  }
  
  .container button {
    border: 2px solid #4F46E5;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #4F46E5;
  }
  
  .back-to-quiz i{
    rotate: -90deg;
    margin-right: 5px;
  }
  .question-details, .attempted-questions, .incorrect-questions, .skipped-questions {
    text-align: left;
    margin-top: 20px;
    display: none;
  }
  
  .question-details p, .attempted-questions p, .incorrect-questions p, .skipped-questions p {
    margin: 5px 0;
  }
  
  .correct {
    color: #4CAF50;
  }
  
  .incorrect {
    color: #F44336;
  }
  
  .skipped {
    color: #FFC107;
  }
  
  .section {
    margin: 20px 0;
    text-align: left;
  }
  
  button {
    margin: 5px;
  }
  
  footer {
    color: #7f8c8d;
    text-align: center;
    padding: 15px;
    margin-top: auto;
    background-color: #e7f6ff;
    width: 100%;
    font-size: 12px;
    display: grid;
    gap: 10px;
    box-sizing: border-box;
  }
  
  footer p {
    margin: 0;
    padding: 0;
    font-weight: 400;
  }
  
  .socialLinks a {
    color: #7f8c8d;
    text-decoration: none;
    padding: 10px;
    font-weight: 400;
  }
  
  .socialLinks a:hover {
    color: #26ffe3;
  }
  