*{
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
}

a{
    text-decoration: none;
}

.quiz-landing {
    background: url(../images/background-light.png) no-repeat;
    background-size: contain;
    max-width: 80%;
    margin: auto;
    text-align: center
}

.quiz-landing nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0
}

.quiz-landing nav .logo{
    display: flex;
    align-items: center;
}

h2{
    font-weight: 600;
}

h2 span{
    color: rgb(1, 219, 219);
}

.quiz-landing nav .logo img{
    width: 40px
}

.quiz-landing nav p img {
    width: 22px
}

.quiz-landing nav p {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid black;
    padding: 12px 30px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer
}

.quiz-landing nav p:hover {
    background-color: #ecf5ff
}

.quiz-landing-text1 {
    font-size: 22px;
    font-weight: 500;
    margin: 50px 0 20px;
    color: #5c5c5c
}

.quiz-landing-title {
    margin: auto auto 30px;
    max-width: 80%;
    font-size: 40px;
    font-weight: 600
}

.quiz-landing-title span {
    background: linear-gradient(270deg,#df8908,#b415ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.quiz-landing-steps {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin: 30px 0;
    font-weight: 500;
    color: #432d51
}

.quiz-landing-steps img {
    width: 16px
}

.quiz-landing-startquiz-btn {
    border: none;
    display: flex;
    align-items: center;
    margin: 20px auto;
    padding: 15px 30px;
    border-radius: 50px;
    gap: 8px;
    color: #fff;
    background: linear-gradient(270deg,#df8908,#b415ff);
    transition: .5s;
    cursor: pointer
}

.quiz-landing-startquiz-btn:hover {
    transform: scale(1.05)
}

.quiz-landing-startquiz-btn img {
    width: 15px
}

.quiz-landing-featured-img {
    width: 600px;
    margin: 20px 0
}

.quiz-landing-text2 {
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 20px
}

.quiz-landing-text3 {
    max-width: 80%;
    margin: auto;
    font-size: 16px;
    color: #414141
}

.quiz-landing-text3 p {
    margin: 30px 0
}

.quiz-landing hr {
    height: 1px;
    border: none;
    background-color: #969696;
    margin-top: 150px
}

.quiz-landing footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    margin: 20px 0
}

.quiz-landing footer div {
    display: flex;
    gap: 20px;
    align-items: center
}

.quiz-landing footer div img {
    width: 40px
}

@media (max-width: 800px) {
    .quiz-landing {
        max-width:90%
    }

    .quiz-landing nav .logo {
        width: 160px
    }

    .quiz-landing nav p {
        border: 1px solid black;
        padding: 12px 25px;
        font-size: 13px
    }

    .quiz-landing-text1 {
        font-size: 20px
    }

    .quiz-landing-title {
        max-width: 90%;
        font-size: 32px
    }

    .quiz-landing-steps {
        font-size: 12px;
        gap: 8px
    }

    .quiz-landing-steps img {
        width: 14px
    }

    .quiz-landing-startquiz-btn {
        padding: 12px 25px
    }

    .quiz-landing-startquiz-btn img {
        width: 13px
    }

    .quiz-landing-featured-img {
        width: 500px
    }

    .quiz-landing-text2 {
        font-size: 23px
    }

    .quiz-landing-text3 {
        max-width: 90%;
        font-size: 14px
    }

    .quiz-landing hr {
        margin-top: 100px
    }

    .quiz-landing footer {
        font-size: 13px;
        margin: 15px 0
    }

    .quiz-landing footer div {
        gap: 15px
    }

    .quiz-landing footer div img {
        width: 35px
    }
}

@media (max-width: 600px) {
    .quiz-landing {
        background:url(../images/background-light-phone.png) no-repeat;
        background-size: contain
    }

    .quiz-landing nav .logo {
        width: 120px
    }

    .quiz-landing nav p {
        padding: 8px 16px;
        font-size: 12px
    }

    .quiz-landing nav p img {
        width: 16px
    }

    .quiz-landing-text1 {
        font-size: 18px
    }

    .quiz-landing-title {
        font-size: 20px
    }

    .quiz-landing-steps {
        font-size: 9px;
        gap: 6px
    }

    .quiz-landing-steps img {
        width: 11px
    }

    .quiz-landing-startquiz-btn {
        font-size: 12px;
        padding: 10px 18px
    }

    .quiz-landing-startquiz-btn img {
        width: 10px
    }

    .quiz-landing-featured-img {
        width: 300px
    }

    .quiz-landing-text2 {
        font-size: 20px
    }

    .quiz-landing footer {
        font-size: 10px;
        margin: 10px 0
    }

    .quiz-landing footer div {
        gap: 15px
    }

    .quiz-landing footer div img {
        width: 28px
    }
}