*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  user-select: none;
}
:root{
  --body-color: #e7f6ff;
  --half-logo-color: #26ffe3;
  --border-color: #373F62;
  --text-color: #DADAF2;
  --text-color-light: #7f8c8d;
  --text-color-white: #fff;
  --text-color-black: #000;
  --click-bg-color: #ffffff05;
  --glass-bg-color: #878bff08;
  --default-1px-border: 1px solid var(--border-color);
  --default-2px-border: 2px solid var(--border-color);
}
a, button, li{
  all: unset;
}
*::-webkit-scrollbar{
  width: 0;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  background-color: var(--body-color);
  color: var(--text-color-black);
}
.navbar {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  color: #000;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1000;
  height: 70px;
  overflow: hidden;
}
.navbar .logo {
  color: #7f8c8d;
  font-size: 24px;
  cursor: pointer;
}
.navbar .logo p{
  font-weight: 600;
}
.navbar .logo p span{
  color: #6726ff;
}
#timer{
  margin-right: 10px;
  color: #7f8c8d;
}
#timer span{
  color: red;
}
/* ---------MAIN DIV--------- */
.projects{
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  min-height: calc(100vh - 70px);
  text-align: center;
}
/* ---------START CONTAINER---------- */
.start-container, .quiz-container, .container2{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  max-width: 400px;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid #66666633;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.container2{
  padding: 2rem 0;
}
.form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding-bottom: 20px;
  font-weight: 600;
  text-align: center;
  color: #000;
}
.emoji{
  font-size: 1.8rem;
}
.input-container {
  position: relative;
  width: 100%;
}
#nameAlert{
  color: red;
  margin: 0;
  text-align: left;
  margin-left: 5px;
  font-size: 14px;
}
.input-container input {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border: 1px solid #e5e7eb;
  outline: none;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  margin: 8px 0;
  background-color: #fff;
  transition: 0.2s;
}
.input-container input:focus {
  border-color: #626cd6;
}
.select-wrapper {
  margin-top: 10px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.select-wrapper label{
  margin-left: 5px;
  font-size: 15px;
}
.select-wrapper select {
  padding: 10px 2.3rem 10px 10px;
  font-size: 14px;
  border: 1px solid #e5e7eb;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  outline: none;
  appearance: none;
  cursor: pointer;
}
.select-wrapper::after {
  content: '';
  position: absolute;
  right: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid #626cd6;
  pointer-events: none;
  z-index: 1;
}
.select-wrapper select:focus {
  border-color: #626cd6;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}
.select-wrapper select::-ms-expand {
  display: none;
}
.start-container button{
  display: flex;
  align-items: center;
  margin: 20px 0 0 0;
  display: flex;
  padding: 5px 16px;
  background-color: #4F46E5;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.startarrow{
  font-size: 1.5rem;
  color: #fff;
  margin-left: 10px;
  padding-bottom: 3px;
}
.start-container button:hover {
  background-color: rgb(59, 51, 210);
}
.question {
  font-size: 1.2em;
  height: 50px;
  text-align: left;
  margin-bottom: 30px;
  color: #000;
  word-wrap: break-word;
}
.question-info {
  font-size: 1em;
  text-align: left;
  margin-bottom: 10px;
  color: #4e4e4e86;
}
.options {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  text-align: left;
}
.options li {
  border: 1px solid #e5e7eb;
  margin: 3px 0;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: #000;
  transition: 0.2s;
}
.options li:hover{
  background: #00000011;
}
.options li.selected {
  background: #007bff;
  border-color: #007bff;
  color: white;
}
.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.navigation-buttons button, .container2 button{
  padding: 9px 16px;
  background-color: #4F46E5;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.navigation-buttons button:disabled {
  background-color: #4e46e5ad; 
  color: #ffffffd3;
  cursor: not-allowed; 
}
#start-level-2{
  margin-left: 5px;
}
.container2 button i{
  margin: 3px 5px;
}
.results {
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  color: #000;
}
.results p {
  text-align: left;
  margin: 0;
  padding: 0;
}
.results p:nth-child(1){
  color: #007bff;
  font-weight: 500;
  text-wrap: nowrap;
}
.results p:nth-child(2){
  margin-top: 10px;
  color: #7a7e82;
}
.results p:nth-child(3){
  color: #3e328f;
  font-size: 16px;
  margin-top: 5px;
  font-weight: 500;
  margin-bottom: 30px;
}
.certificate-container {
  display: none;
  margin-bottom: 10px;
  margin-top: -20px;
}
.certificate-container button {
  margin-top: 20px;
}
.certificate {
  width: 100%;
}
.start-certificate {
  margin-top: 20px;
  position: relative;
  width: 100%;
  height: 206px;
}
.start-certificate img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}
.certificatedetails {
  padding-top: 10px;
  position: relative;
  width: 100%;
  height: 100%;
  color: #3e328f;
}
.certificate-logo {
  position: absolute;
  display: flex;
  align-items: center;
  top: 11px;
  gap: 1px;
  margin-left: 55px;
}
.certificate-logo img {
  position: relative;
  height: 18px;
}
.certificate-logo p {
  font-weight: 600;
  font-size: 13px;
}
.logo-hr {
  position: absolute;
  top: 33px;
  left: 60px;
  background-color: #6726ff;
  height: 0.9px;
  width: 91px;
}
.certificate-main-title {
  font-size: 10.5px;
  position: absolute;
  font-weight: 400;
  text-align: left;
  margin-top: 30px;
  margin-left: 58px;
}
.certificate-sub-title {
  position: absolute;
  top: 92px;
  left: 59px;
  font-weight: 500;
  font-size: 8.5px;
}
.frontend-project {
  color: #007bff;
}
.certificate-name {
  position: absolute;
  top: 107px;
  left: 60px;
  text-align: left;
  width: 50%;
  font-size: 17px;
  font-weight: 500;
}
#certificateqr {
  position: absolute;
  top: 14px;
  right: 20px;
  background-color: #fff;
  width: 50px;
  height: 50px;
}
.certificate-description {
  position: absolute;
  top: 132px;
  font-weight: 500;
  margin-left: 59px;
  font-size: 8px;
}
.issue-date {
  position: absolute;
  bottom: 12px;
  display: grid;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 20px;
  right: 20px;
  font-size: 6px;
}
.issue-date-flex {
  display: flex;
  gap: 2px;
}
.certificate-instructor {
  position: absolute;
  bottom: 14px;
  left: 59px;
  font-size: 7.5px;
}
.certificate-instructor-sign {
  position: absolute;
  font-family: "Style Script", cursive;
  font-weight: 400;
  bottom: 24px;
  left: 63px;
  font-size: 11px;
}
.certificate-issue-paragraph {
  position: absolute;
  bottom: 33px;
  right: 80px;
  font-size: 7px;
}
#timeoutMessage p{
  padding: 4rem 2rem;
  font-size: 1.1rem;
}
/* ------------RESPONSIVE CODE------------ */
@media (max-width: 768px) {
  .start-container, .quiz-container, .container2{
    width: 95%;
  }
  .results{
    font-size: 1.1rem;
  }
  .results p:nth-child(1){
    text-wrap: wrap;
  }
}