*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::-webkit-scrollbar{
    width: 0;
}
body {
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #e7f6ff;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7f6ff;
    padding: 10px 30px;
    color: #000;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 70px;
    overflow: hidden;
}
.navbar .arrowdiv {
    position: absolute;
    left: 25px;
    cursor: pointer;
}
.arrowdiv {
    padding-left: 10px;
    color: #7f8c8d;
    cursor: pointer;
    padding-right: 10px;
    font-size: 22px;
    transition: all 0.2s ease;
}
.arrowdiv:active {
    color: #ddd;
    transform: scale(0.90);
}
.navbar .logo {
    cursor: pointer;
}
.navbar .logo img {
    height: 30px;
}
.container {
    margin: 10px;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.container .title {
    display: grid;
    padding: 20px;
    background-color: #0d1224;
    width: 100%;
    border-radius: 10px;
}
.container .title h1 {
    font-weight: 500;
    margin: 0;
    font-size: 25px;
    color: #067ff8;
}
.sections-div{
    display: flex;
    align-items: start;
    gap: 20px;
}
#score {
    padding: 0;
    margin: 0;
    color: #ddd;
}
.section {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #0d1224;
    width: 300px;
    background-color: #fff;
}
.section > div > p{
    font-size: 14px;
}
.section > h2 {
    margin-top: 5px;
    font-weight: 500;
    color: rgb(68, 68, 68);
}
.section > p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
}
.container button {
    border: 2px solid #4F46E5;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4F46E5;
}
.question-details{
    text-align: left;
    background-color: #fff;
    display: none;
    padding: 10px;
    border-radius: 5px;
}
.attempted-questions, .incorrect-questions, .skipped-questions {
    text-align: left;
    margin-top: 20px;
    display: none;
}
.correct {
    color: #4CAF50;
}
.incorrect {
    color: #F44336;
}
.skipped {
    color: #FFC107;
}
footer {
    display: flex;
    flex-direction: column;
    color: #7f8c8d;
    text-align: center;
    padding: 15px;
    margin-top: auto;
    background-color: #e7f6ff;
    width: 100%;
    font-size: 12px;
}
footer p {
    margin: 0;
}
.socialLinks a{
    color: #7f8c8d;
    text-decoration: none;
    padding: 10px;
    font-weight: 300;
    cursor: pointer;
    transition: 0.3s;
}
footer .socialLinks a:hover {
    color: #26ffe3;
}
@media (max-width: 768px) {
    .sections-div{
        flex-direction: column;
        width: 100%;
    }
    .section{
        width: 100%;
    }
}