*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  user-select: none;
}
:root{
  --body-color: #0d1224;
  --half-logo-color: #26ffe3;
  --border-color: #373F62;
  --text-color: #DADAF2;
  --text-color-light: #7f8c8d;
  --text-color-white: #fff;
  --click-bg-color: #ffffff05;
  --glass-bg-color: #878bff08;
  --default-1px-border: 1px solid var(--border-color);
  --default-2px-border: 2px solid var(--border-color);
}
a, button, li{
  all: unset;
}
*::-webkit-scrollbar{
  width: 0;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  background-color: var(--body-color);
  color: var(--text-color-white);
}
/* ---------NAVBAR-------- */
.navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  border-bottom: var(--default-1px-border);
  background-color: var(--body-color);
  padding: 10px 30px;
  color: var(--text-color-white);
  position: sticky;
  top: 0;
  font-size: 24px;
  z-index: 1000;
  height: 70px;
  overflow: hidden;
}
.navbar .arrowdiv {
  position: absolute;
  left: 25px;
  cursor: pointer;
}
.arrowdiv {
  padding-left: 10px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  padding-right: 10px;
  font-size: 22px;
  margin-left: -10px;
  transition: all 0.2s ease;
}
.arrowdiv:active {
  color: #ddd;
  transform: scale(0.90);
}
.navbar > .logo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar > .logo > img {
  height: 30px;
}
span{
  color: var(--half-logo-color);
}
/* -------------------source code pages-------------------- */
.full-stack.selected, .react.selected, .html-css2.selected, .javascript.selected {
  display: block;
}
.html-css2 h1{
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 28px;
  margin: 0;
}
.login-page{
  width: 100%;
}
.login-page p img{
  width: 100%;
  border-radius: 5px;
  height: 100%;
  border: 1px solid var(--click-bg-color);
  transition: 0.4s;
}
.login-page p img:hover{
  border-color: var(--half-logo-color);
}
.project-section{
  display: flex;
  flex-direction: column;
  margin: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 5rem;
}
.source-code{
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.source-code p:last-child img{
  height: 15px;
}
.copybtn{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copybtn p{
  font-weight: 400;
}
.source-code p{
  display: flex;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
  gap: 10px;
  font-size: 14px;
  padding: 10px 20px;
  width: max-content;
  border-radius: 30px;
  border: var(--default-1px-border);
  color: var(--text-color-white);
  background-color: var(--glass-bg-color);
  margin: 0;
  cursor: pointer;
  align-items: center;
  transition: 0.4s;
}
.source-code p:hover{
  border-color: var(--half-logo-color);
}
.source-code p img{
  height: 18px;
  color: var(--text-color-white);
}
.image-flex{
  display: flex;
  background-color: var(--glass-bg-color);
  border: var(--default-1px-border);
  border-radius: 8px;
  width: 100%;
  padding: 40px;
}
.card-flex{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  gap: 6rem;
  padding: 4rem;
}
.card {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  background-color: #24233b;
  border-radius: 8px;
  margin-top: 20px;
  z-index: 1;
  transition: 0.5s;
}
.top {
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.circle {
  padding: 0 4px;
}
.circle2 {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 5px;
}
.red {
  background-color: #ff605c;
}
.yellow {
  background-color: #ffbd44;
}
.green {
  background-color: #00ca4e;
}
.header {
  margin: 5px;
  margin-top: 5px;
  border-radius: 5px;
}
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.title > :first-child {
  margin-left: auto;
}
.title > :last-child {
  margin-left: auto;
}
#title2 {
  color:var(--text-color-white);
  align-items: center;
  font-size: 15px;
}
.code-container {
  text-align: center;
  overflow: auto;
}
.comingsoon{
  padding: 10px;
  color: var(--body-color);
  font-weight: bold;
  background-color: var(--half-logo-color);
  font-size: 20px;
  margin-bottom: 20px;
}
.area {
  width: 95%;
  height: 340px;
  font-size: 10px;
  resize: none;
  background-color: rgb(59, 54, 88);
  border-radius: 5px;
  border: none;
  color: var(--text-color-white);
  padding: 10px;
}
.area:focus {
  outline: none;
}
/* -------------COPY BTN---------- */
.html_copy_toggle, .css_copy_toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  border: 0.65px solid #c1c2c5;
  margin: 5px;
  border-radius: 6px;
  background-color: #202425;
  color: #8e8e8e;
  cursor: pointer;
}

.html_copy_toggle > svg, .css_copy_toggle > svg {
  width: 20px;
  height: 20px;
}

.html_copy_toggle.copied > svg > path, .css_copy_toggle.copied > svg > path {
  animation: clipboard-check 100ms linear forwards;
}

@keyframes clipboard-check {
  100% {
    color: #fff;
    d: path(
      "M 9 5 H 7 a 2 2 0 0 0 -2 2 v 12 a 2 2 0 0 0 2 2 h 10 a 2 2 0 0 0 2 -2 V 7 a 2 2 0 0 0 -2 -2 h -2 M 9 5 a 2 2 0 0 0 2 2 h 2 a 2 2 0 0 0 2 -2 M 9 5 a 2 2 0 0 1 2 -2 h 2 a 2 2 0 0 1 2 2 m -6 9 l 2 2 l 4 -4"
    );
  }
}
/* ----------Project assets------ */
.project-details{
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}

#close-project-details{
  margin-bottom: 40px;
}
.details-button{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
.details-button input {
  height: 40px;
  border: var(--default-1px-border);
  outline: none;
  background-color: transparent; /* Slightly transparent background */
  font-size: 15px;
  padding: 0px 45px 0px 15px;
  color: var(--text-color-white); 
  transition: 0.2s ease;
}

.details-button input::placeholder {
  font-family: "Outfit", sans-serif;
  color: var(--text-color); /* Light color for placeholder text */
}

.details-button input:focus, .button:hover {
  border-color: #626cd6;
}
.button{
  padding: 10px 20px;
  outline: none;
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 14px;
  background-color: var(--glass-bg-color);
  border: none;
  border-radius: 30px;
  color: var(--text-color-white);
  cursor: pointer;
  border: var(--default-1px-border);
  -webkit-tap-highlight-color: transparent;
  transition: 0.3s;
}

.assets-email{
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: center;
}

.assets-email p{
  color: red;
  font-size: 15px;
}

.assets-download{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.assets-download p{
  font-size: 15px;
}
/* ----------FOOTER----------- */
footer {
  color: var(--text-color-light);
  text-align: center;
  padding: 15px;
  background-color: #0d1224;
  width: 100%;
  font-size: 12px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  gap: 10px;
  border-top: 1px solid var(--border-color);
}
footer p{
  margin: 0;
  padding: 0;
  font-weight: 300;
  cursor: default;
}
.socialLinks a{
  color: var(--text-color-light);
  text-decoration: none;
  padding: 10px;
  font-weight: 300;
  cursor: pointer;
  transition: 0.3s;
}
.socialLinks a:hover{
  color: var(--half-logo-color);
}
@media (max-width: 767px) {
  .navbar{
    height: 60px;
  }
  .project-details {
    padding: 0 20px;
    margin: 0;
  }
  .details-button{
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  #close-project-details{
    margin-bottom: 30px;
  }
  .image-flex{
    gap: 40px;
    padding: 10px 10px 50px 10px;
    width: 100%;
    margin: 0;
    flex-direction: column;
  }
  .project-section{
    width: 100%;
    padding: 20px;
    margin: 10px;
  }
  .card-flex{
    flex-direction: column;
    gap: 10px;
    padding: 0;
  }
  footer{
    padding: 10px;
    flex-direction: column;
}
}
