*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    user-select: none;
}
:root{
    --body-color: #0d1224;
    --half-logo-color: #26ffe3;
    --border-color: #373F62;
    --text-color: #DADAF2;
    --text-color-light: #7f8c8d;
    --text-color-white: #fff;
    --click-bg-color: #ffffff05;
    --glass-bg-color: #878bff08;
    --default-1px-border: 1px solid var(--border-color);
    --default-2px-border: 2px solid var(--border-color);
}
a, button, li{
    all: unset;
}
*::-webkit-scrollbar{
    width: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    background-color: var(--body-color);
    color: var(--text-color-white);
}
.no-scroll {
    overflow: hidden;
}
/* ---------NAVBAR-------- */
nav{
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 70px;
    padding: 15px 30px;
    background-color: var(--body-color);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
nav .navbar a{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
nav .navbar a{
    font-size: 24px;
    font-weight: 500;
}
nav .navbar a p span{
    color: var(--half-logo-color);
}
nav .navbar a img{
    height: 30px;
}
.offer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
.offer p {
    color: var(--text-color);
    animation: fadeUpDown 2s ease-in-out infinite;
}
  
@keyframes fadeUpDown {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
}
  
  
.offer button {
    all: unset;
    padding: 7px 16px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0d1224;
    border: none;
    border-radius: 30px;
    color: var(--text-color-white);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: 0.2s;
    animation: backgroundFlow 5s linear infinite;
}
  
@keyframes backgroundFlow {
    0% {
      background-color: rgb(200, 0, 255); /* Initial color */
    }
    12.5% {
      background-color: rgb(52, 152, 219); /* First transition color */
    }
    25% {
      background-color: rgb(26, 255, 227); /* Second transition color */
    }
    37.5% {
      background-color: rgb(83, 9, 255); /* Third transition color */
    }
    50% {
      background-color: rgb(241, 196, 15); /* Fourth transition color */
    }
    62.5% {
      background-color: rgb(231, 76, 60); /* Fifth transition color */
    }
    75% {
      background-color: rgb(46, 204, 113); /* Sixth transition color */
    }
    87.5% {
      background-color: rgb(155, 89, 182); /* Seventh transition color */
    }
    100% {
      background-color: rgb(200, 0, 255); /* Loop back to initial color */
    }
}
.nav-links{
    position: fixed;
    top: 70px;
    height: calc(100vh - 70px);
    width: 18%;
    left: 0;
    font-size: 13px;
    display: flex;
    background-color: var(--body-color);
    flex-direction: column;
    border-right: var(--default-1px-border);
}
.nav-links ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    padding-top: 12px;
    font-size: 14px;
}
.nav-links ul li {
    margin: 8px 0;
    font-weight: 300;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-links ul li.active{
    background: linear-gradient(to right, rgba(38, 255, 227, 0.25), rgba(38, 255, 227, 0));
}
.nav-links ul li div{
    position: absolute;
    right: 25px;
    cursor: pointer;
    display: none;
    align-items: center;
    gap: 20px;
    pointer-events: none;
}
.nav-links ul li div p{
    background-color: var(--body-color);
    border: var(--default-1px-border);
    padding: 8px 23px;
    border-radius: 30px;
}
.nav-links ul li a {
    color: var(--text-color-white);
    padding: 0 22px;
    height: 75px;
    display: block;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}
.nav-links ul li a i{
    font-size: 58px;
    position: absolute;
    left: 0;
    rotate: 180deg;
    width: 4.2px;
    overflow: hidden;
    display: none;
    color: var(--half-logo-color);
}
.nav-links li.active i {
    display: inline-block;
}
.nav-links ul li:nth-child(1) a img,
.nav-links ul li:nth-child(3) a img {
    height: 17px;
}
.nav-links ul li:nth-child(2) a img {
    height: 22px;
}
.nav-links ul li:nth-child(4) a img,
.nav-links ul li:nth-child(5) a img,
.nav-links ul li:nth-child(6) a img {
    height: 17px;
}
.nav-links ul li:nth-child(7) a img{
    height: 19px;
}
.toggle-button {
    display: none;
    flex-direction: column;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: relative;
}
.toggle-button span {
    position: absolute;
    width: 25px;
    height: 3px;
    background: var(--text-color-white);
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}
.toggle-button span:nth-child(1) {
    top: 14px;
    transform: rotate(45deg);
}
.toggle-button span:nth-child(2) {
    top: 14px;
    opacity: 0;
}
.toggle-button span:nth-child(3) {
    top: 14px;
    transform: rotate(-45deg);
}
.toggle-button.active span:nth-child(1) {
    top: 8px;
    transform: rotate(0deg);
}
.toggle-button.active span:nth-child(2) {
    top: 14px;
    opacity: 1;
}
.toggle-button.active span:nth-child(3) {
    top: 20px;
    transform: rotate(0deg);
}
/* --------------SPA CONTAINER------------ */
.container{
    width: 100%;
    margin-top: 70px;
    min-height: calc(100vh - 110px);
}
.content-section {
    width: 82%;
    display: none;
    flex-direction: column;
    align-items: center;
    margin-left: 18%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.active-section {
    display: flex;
    opacity: 1;
    animation: fadefast 0.5s ease-in-out forwards;
}
@keyframes fadefast {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* ----------ALL PROJECT SECTION-------- */
.project-laung{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 2.7rem;
    padding-bottom: 3.7rem;
    border-bottom: var(--default-1px-border);
}
.project-laung button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    -webkit-tap-highlight-color: transparent;
    gap: 5px;
    padding: 0.6rem 2.5rem;
    border-radius: 3rem;
    border: var(--default-2px-border);
    cursor: pointer;
    transition: border-color 0.3s ease;
}
.project-laung button.selected {
    border-color: var(--half-logo-color);
}
.project-laung button img{
    height: 15px;
}
.projects-container{
    width: 100%;
}
.project-mini-page{
    display: none;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.project-mini-page.active {
    display: block;
    animation: fadefast 0.5s ease-in-out forwards;
}
.project-mini-page p{
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
}
.projects{
    display: grid;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.projects a img{
    width: 100%;
    height: auto;
    transition: 0.4s;
    border: var(--default-2px-border);
    border-color: var(--body-color);
    cursor: pointer;
}
.projects a img:hover{
    border-color: var(--half-logo-color);
}
/* -----------GET CERTIFICATE------------- */
#get-certificate{
    padding: 60px;
    padding-bottom: 80px;
}
.explore{
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 40px 0px 0px 20px;
    background-color: #878bff08;
    margin: 20px 80px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.explorebtn{
    padding: 1.7rem;
    text-align: left;
    gap: 20px;
}
.explorebtn p{
    line-height: 25px;
    font-size: 22px;
    margin-bottom: 40px;
}
.explorebtn button{
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 5px;
    color: #3c3c3c;
    border: var(--default-2px-border);
    padding: 6px 20px;
    border-radius: 30px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    background-color: #f4f4f4;
}
.explorebtn span2{
    font-size: 20px;
    transition: transform 0.3s;
}
.explorebtn button:hover span2 {
    transform: rotate(90deg);
}
.explore-img{
    display: flex;
}
.explore-img img{
    width: 100%;
}
.quiz-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 20px;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.quiz-list a, .button {
    padding: 10px 20px;
    outline: none;
    gap: 10px;
    font-size: 14px;
    display: flex;
    text-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color: #0d1224;
    border-radius: 30px;
    color: var(--text-color-white);
    cursor: pointer;
    border: var(--default-2px-border);
    -webkit-tap-highlight-color: transparent;
    transition: 0.3s;
}
.quiz-list a:hover{
    border-color: var(--half-logo-color);
}
.quiz-list a i{
    color: var(--half-logo-color);
}
/* ----------COURCES------------ */
#courses{
    padding: 50px;
}
.main-title {
    width: 100%;
    text-align: left;
}
.main-title p {
    padding: 0.625rem 1.5rem;
    background-color: #262B42;
    border: 1px solid var(--border-color);
    display: inline-block;
    border-radius: 9999px;
    font-size: 0.875rem;
}
.cource-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.75rem;
    padding-top: 0.5rem;
}
.cource-details button {
    padding: 0.375rem 0.75rem;
    background-color: #262B42;
    color: var(--text-color-white);
    border: 1px solid var(--border-color);
    border-radius: 30px;
}
.cource-details a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color-white);
    gap: 0.5rem;
    padding: 0.375rem 0.75rem;
    cursor: pointer;
    border: 1px solid var(--border-color);
    border-radius: 9999px;
    transition: all 0.3s ease;
}
.cource-details a:hover {
    transform: scale(1.05);
}
.cource-title {
    padding-right: 0.75rem;
    padding-bottom: 0.8rem;
}
.cource-paragraph {
    color: #D9EBFF;
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
    width: 90%;
    line-height: 1.25rem;
}
.all-cource-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.25rem;
    margin-top: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.cource-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
}
.cource-container:hover {
    box-shadow: 0 4px 8px var(--border-color);
    transition: box-shadow 0.3s ease;
}
.cource-elements {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.cource-img img {
    width: 100%;
    opacity: 100%;
    height: auto;
}
/* ----------SEARCH BAR--------- */
.search-box {
    width: 60%;
    padding: 40px 0 60px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--body-color);
    width: 80%;
    border-radius: 3px;
    height: 40px;
    border: 1px solid var(--border-color);
    padding: 0 15px;
    transition: 0.2s ease;
}
.search-icon {
    border-right: 1px solid var(--border-color);
    padding-right: 12px;
}
.cross-icon {
    cursor: pointer;
    padding-left: 12px;
}
.search-icon, 
.cross-icon {
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 17px;
    color: var(--text-color);
    color: rgba(254, 254, 254, 0.7);
    transition: 0.2s ease;
}
.search-box input {
    width: 100%;
    height: 38px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 15px;
    padding: 0 20px;
    padding-left: 10px;
    color: var(--text-color);
    transition: 0.2s ease;
}
.search-box input::placeholder {
    color: rgba(254, 254, 254, 0.7);
}
.search-box input:focus {
    border-color: #626cd6;
}
.search-box:focus-within .search-item, 
.search-box:focus-within .search-icon {
    border-color: #626cd6;
}
/* ----------Project assets------ */
#project-assets, #source-code {
    padding: 20px 90px 90px 80px;
}
#source-code a{
    width: 100%;
    cursor: default;
}
.assetsContainer, 
.sourceCodeContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 150px; 
    padding: 5px;
    color: var(--text-color-white);
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--border-color);
    height: auto;
}
.assetsContainer:hover, 
.sourceCodeContainer:hover {
    background-color: var(--click-bg-color);
}
.code-buy-now-btn p:hover, .sourceCodeContainer a:hover{
    background-color: #26ffe248;
}
.project-image img {
    max-width: 90px; 
    height: auto;
    cursor: default;
}
.project-title {
    flex-grow: 1;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    cursor: default;
    margin-left: 20px;
}
.code-buy-now-btn {
    text-align: center;
    margin-left: 5px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.code-buy-now-btn p, .sourceCodeContainer a {
    text-wrap: nowrap;
    transition: 0.3s;
    margin: 0;
    font-size: 11px;
    background-color: var(--body-color);
    border: 1px solid var(--border-color);
    border-radius: 30px;
    padding: 10px 20px;
}
/* ----------STOCK IMAGE----------- */
#stock-images{
    width: 100%;
}
.stock-main {
    width: 100%;
    padding: 3.5rem 6% 0 6%;
}
.stock-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: left;
}
.stock-image-links {
    margin-top: 1.25rem;
    display: flex;
    align-items: center;
    gap: 1.25rem;
    flex-wrap: wrap;
}
.stock-image-links a {
    display: flex;
    gap: 0.75rem;
    cursor: pointer;
    align-items: center;
    border: var(--default-1px-border);
    padding: 0.5rem 2.2rem;
    border-radius: 0.25rem;
    color: var(--text-color-white);
    text-decoration: none;
    background-color: #12172A;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.stock-image-links a:hover {
    background-color: rgba(32, 46, 100, 0.5);
    transform: scale(1.05);
}
.stock-image-links a img {
    width: 1rem;
}
.stock-image-links a p {
    font-size: 15px;
}
.stock-icon-title{
    padding-top: 3.5rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: left;
}
.stock-soon{
    margin-top: 5rem;
    padding-top: 3rem;
    padding-bottom: 7.5rem;
}
.stock-soon h1 {
    background: linear-gradient(to top, #24B0FF, #B415FF);
    background-clip: text;
    color: transparent;
    font-weight: 600;
    font-size: 2rem;
    background-size: 200% 200%;
    animation: gradientAnimation 3s ease infinite;
}
/* -------------PROJECT DETAILS----------- */
.project-details{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding: 90px;
    padding-bottom: 10rem;
}
.details-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-bottom: 20px;
}
.details-image img {
    width: 70%;
    height: auto;
    cursor: pointer;
} 
#projectDescription{
    font-size: 25px;
    font-weight: 500;
}
.details-button{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    width: 100%;
}
.details-button input {
    height: 40px;
    border: 1px solid var(--border-color);
    outline: none;
    background-color: transparent;
    font-size: 15px;
    padding: 0px 45px 0px 15px;
    color: var(--text-color-white); 
    transition: 0.2s ease;
}
  
.details-button input::placeholder {
    color: var(--text-color);
}
  
.details-button input:focus, .button:hover {
    border-color: #626cd6;
  }  
.assets-email{
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    justify-content: center;
}
  
.assets-email p{
    color: red;
    font-size: 15px;
}
  
.assets-download{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
  
.assets-download p{
    font-size: 15px;
}
/* -------------STARS------------- */
#stars{
    align-items: flex-start;
    padding-top: 4rem;
    padding-left: 7rem;
}
#stars .stars-title{
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 5px;
    background-image: linear-gradient(to right, white, #d3d3d3a4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: 600;
    font-size: 2rem;
}
#stars .stars-title img{
    height: 35px;
}
.stars-search-box {
    border: var(--default-1px-border);
    display: flex;
    align-items: center;
    width: 35%;
    transition: border-color 0.2s ease;
}
.stars-search-box i {
    color: #d3d3d367;
    font-size: 14px;
    padding-left: 10px;
}
.stars-search-box input {
    all: unset;
    font-size: 14px;
    background-color: var(--body-color);
    width: 100%;
    padding: 8px 10px;
}
.stars-search-box:focus-within {
    border-color: #626cd6;
}
.stars-container{
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 4rem;
    gap: 40px;
}
.star-profile{
    position: relative;
    width: max-content;
    overflow: hidden;
    height: 130px;
    width: 130px;
}
.star-profile:hover .star-profile-link{
    top: 0;
}
.star-profile-link {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0000004f;
    transition: 0.35s;
}
.star-profile-link a{
    font-size: 12px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: default;
}
.star-profile-link a i{
    font-size: 11px;
}
.star .star-profile .star-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.star{
    transition: 0.4s;
}
.star:hover{
    transform: translateY(-3px);
}
.star-rating{
    position: absolute;
    bottom: 8px;
    border-radius: 10px;
    padding: 0 5px;
    right: 5px;
    background-color: #0000004f;
}
.star-rating img{
    height: 13px;
}
.star .starName{
    font-size: 15px;
    opacity: 70%;
    font-weight: 500;
    padding: 5px 0;
}
.star .starProject{
    opacity: 70%;
    font-size: 12px;
}
.star-guide-div{
    padding: 3rem 0;
    width: 50%;
}
@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.star-guide {
    background: linear-gradient(to right, #37fb0b, #B415FF);
    background-clip: text;
    color: transparent;
    text-wrap: balance;
    font-weight: 500;
    font-size: 1.3rem;
    background-size: 200% 200%;
    animation: gradientAnimation 3s ease infinite;
}
.star-guide > span{
    color: var(--text-color);
}
.star-guide > span > span{
    color: var(--half-logo-color);
}
/* -----------UPDATE-------------- */
#whatsNewPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    width: 90%; 
    max-width: 28rem;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.091);
    backdrop-filter: blur(5px);
    z-index: 1000;
}
.popup-container {
    margin: 2rem auto;
    background-color: #1f2937;
    padding: 2rem;
    color: #ffffff;
    border-radius: 1rem;
}
.popup-container h2 {
    margin-bottom: 1.5rem;
    font-size: 1.875rem;
    font-weight: 600;
}
.popup-container ul {
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.popup-container li {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: 100%;
}
.popup-container li img {
    flex-shrink: 0;
    height: 1.5rem;
    width: 1.5rem;
}
.popup-container li p {
    color: #d1d5db;
    font-size: 0.875rem;
}
.popup-container button {
    background-color: #34d399;
    padding: 0.75rem 1rem;
    font-weight: 500;
    cursor: pointer;
    color: #ffffff;
    border: none;
    border-radius: 0.75rem;
    transition: background-color 0.3s;
    outline: 4px solid transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.popup-container button:hover {
    background-color: #10b981;
}
.popup-container button i{
    margin-left: 5px;
}
/* -------------SOCIAL MEDIA LINKS----------- */
#overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.091);
    backdrop-filter: blur(5px);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s ease 0.3s;
}

#overlay2.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
}

.links-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    border-radius: 5px;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    background-color: var(--body-color);
    padding: 4rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s ease 0.3s;
    z-index: 1001;
}

.links-container.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
}

.links-container button{
    top: 10px;
    font-size: 1.5rem;
    right: 10px;
    cursor: pointer;
    position: absolute;

}
.links-container a {
    text-decoration: none;
    background-color: transparent;
    backdrop-filter: blur(10px);
    display: flex;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    padding: 10px 12px;
    position: relative;
}
.links-container a::before {
    content: '';
    position: absolute;
    border: 1px solid #373F62;
    z-index: -2;
    background-color: #ffffff3b;
    height: 58px;
    width: 57px;
    border-radius: 8px;
    left: 50%;
    transform: translateX(-50%);
}
.links-container a::after {
    content: '';
    position: absolute;
    z-index: -1;
    height: 60px;
    width: 59px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    left: 50%;
    transform: translateX(-50%);
}
.links-container .instagram::after {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}
.links-container .youtube::after {
    background: linear-gradient(45deg, #ff0000 0%, #cc0000 100%);
}
.links-container .github::after {
    background: linear-gradient(45deg, #333 0%, #000 100%);
}
.links-container .telegram::after {
    background: linear-gradient(45deg, #0088cc 0%, #005b8e 100%);
}
.links-container a:hover::after {
    transform: translateY(5px) rotate(35deg);
}
.links-container a i {
    font-size: 38px;
    color: #fff;
}
/* ----------FOOTER--------- */
footer {
    color: var(--text-color-light);
    text-align: center;
    padding: 15px;
    background-color: #0d1224;
    width: 82%;
    margin-left: 18%;
    font-size: 12px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    gap: 10px;
    border-top: 1px solid var(--border-color);
}
footer p{
    margin: 0;
    padding: 0;
    font-weight: 300;
    cursor: default;
}
.socialLinks a{
    color: var(--text-color-light);
    text-decoration: none;
    padding: 10px;
    font-weight: 300;
    cursor: pointer;
    transition: 0.3s;
}
.socialLinks a:hover{
    color: var(--half-logo-color);
}
/* ------------RESPONSIVE CODE------------ */
@media (max-width: 768px) {
    nav{
        padding: 20px;
        height: 60px;
    }
    .offer{
        display: none;
    }
    .nav-links {
        top: 60px;
        width: 100%;
        height: calc(100vh - 60px);
        border: none;
        left: auto;
        right: 0;
        transition: right 0.3s ease;
    }
    .nav-links.active {
        right: -100%;
    }
    .nav-links ul{
        padding: 0;
    }
    .nav-links ul li{
        height: 75px;
        font-size: 14px;
        margin: 0;
        border-bottom: var(--default-1px-border);
    }
    .nav-links ul li.active{
        background: var(--body-color);
    }
    .nav-links ul li a i{
        font-size: 60px;
        width: 6px;
    }
    .nav-links ul li:nth-child(1) a img,
    .nav-links ul li:nth-child(3) a img {
        height: 19px;
    }
    .nav-links ul li:nth-child(2) a img {
        height: 24px;
    }
    .nav-links ul li:nth-child(4) a img,
    .nav-links ul li:nth-child(5) a img,
    .nav-links ul li:nth-child(6) a img {
        height: 20px;
    }
    .nav-links ul li:nth-child(7) a img{
        height: 22px;
    }
    .toggle-button, .nav-links ul li div{
        display: flex;
    }
    .container{
        min-height: calc(100vh - 140px);
    }
    .content-section{
        margin: 0;
        width: 100%;
    }
    .project-laung {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        padding: 1rem;
        padding-bottom: 2rem;
        gap: 1rem;
    }
    .project-laung button{
        padding: 10px;
    }
    .projects{
        padding: 10px 20px;
        gap: 10px;
        grid-template-columns: repeat(1, 1fr);
    }
    #get-certificate{
        padding: 0;
    }
    .explore{
        padding: 0;
        gap: 0;
        margin: 20px 10px;
        grid-template-columns: repeat(1, 1fr);
    }
    .explorebtn p{
        margin-bottom: 15px;
    }
    .quiz-list {
        padding: 0px;
        padding-bottom: 40px;
        margin: 10px;
        gap: 10px;
    }
    .quiz-list a{
        padding: 8px 15px;
    }
    #courses{
        padding: 40px 20px;
    }
    .all-cource-container{
        padding-left: 10px;
        padding-right: 10px;
    }
    .search-box{
        width: 100%;
        padding: 50px 20px;
    }
    #project-assets, 
    #source-code {
        padding: 10px;
        padding-bottom: 50px;
    }
    .project-details {
        padding: 20px;
    }
    .details-image img {
        width: 100%;
    }
    .details-button{
        display: grid;
    }
    #stars{
        padding: 20px;
    }
    #stars .stars-title{
        font-size: 1.8rem;
        margin-left: 0.8rem;
    }
    .stars-search-box{
        width: 100%;
    }
    .star-guide-div{
        width: 100%;
    }
    .stars-container{
        justify-content: center;
        width: 100%;
    }
    footer{
        width: 100%;
        margin: 0;
        padding: 10px;
        flex-direction: column;
    }
}
